@import "reset";
@import "base";
@import "classes";
@import "utilities";
@import "animations";
@import "media-queries";

.grid-container {
  display: grid;
  grid:
    "picture header" auto
    "aside main" 1fr
    "footer footer" auto
    / 350px auto;
  @include xs {
    grid:
      "header" auto
      "main" auto
      "picture" auto
      "aside" auto
      "footer" auto
      / auto;
  }
}

header {
  grid-area: header;
  background: linear-gradient(to right, var(--dark), var(--light));
  // padding: 5rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include xs {
    padding: 5rem 2rem;
  }
  h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 2rem;
    @include xs {
      font-size: 3rem;
    }
  }
  p {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
  span {
    display: inline-block;
    animation: bounce 2s;
  }
}

.picture {
  grid-area: picture;
  background: var(--background);
  padding: 6rem;
  border-right: 1px solid var(--border);
  @include xs {
    padding: 3rem;
  }
  img {
    border-radius: 50%;
  }
}

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 5rem;
  .block {
    margin-bottom: 5rem;
    h3 {
      margin-bottom: 0;
      font-size: 1.4rem;
    }
    p {
      margin: 0 0 2rem 0;
      font-style: italic;
    }
    .projet-container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      a {
        padding: 1rem 0;
        &:hover {
          color: var(--primary);
          transform: scale(1.1);
          transition: all 0.4s;
        }
      }
    }
    .skill-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      // @include xs {
      //   justify-content: flex-start;
      // }
      img {
        margin-bottom: 2rem;
        width: 20%;
        @include xs {
          padding: 0 1rem;
        }
      }
    }
    .social-container {
      display: flex;
      justify-content: start;
      align-items: center;
      border-radius: 0.5rem;
      padding: 1rem 1rem 1rem 0;
      cursor: pointer;
      &:hover {
        i,
        p {
          color: var(--primary);
          transform: scale(1.3);
          transition: all 0.4s;
        }
      }
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      i {
        flex: 0 0 50px;
        font-size: 2rem;
        margin-right: 1rem;
      }
      p {
        flex: auto;
        margin: 0;
      }
    }
  }
}

main {
  grid-area: main;
  padding: 5rem;
  @include xs {
    padding: 5rem 1.5rem;
  }
  h2 {
    margin-bottom: 4rem;
  }
  p {
    letter-spacing: 0.1rem;
    line-height: 3rem;
  }
  .exp {
    display: flex;
    margin: 6rem 0;
    .timeline {
      flex: 0.2;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      text-align: center;
    }
    .content {
      flex: 2;
      padding: 0 1rem;
      h3 {
        margin: 0;
      }
    }
    p {
      margin: 0;
    }
    ul {
      margin: 2rem 0;
      list-style: circle;
      padding-left: 4rem;
    }
  }
}

footer {
  height: 25vh;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 3rem;
  @include xs {
    padding: 0;
  }
  background: var(--text);
  h2 {
    margin-bottom: 3rem;
  }
  form {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .prefix {
      background: linear-gradient(to right, var(--dark), var(--light));
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    input {
      outline: 0;
      border: 0;
      min-width: 400px;
      @include xs {
        min-width: 200px;
      }
      padding: 1rem 2rem;
      @include xs {
        padding: 1rem 0rem;
      }
      line-height: 2rem;
      &::placeholder {
        color: var(--text);
        @include xs {
        }
      }
    }
    button {
      background: var(--text);
      border: 0;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.1);
      }
      .postfix {
        background: linear-gradient(to right, var(--dark), var(--light));
        padding: 1rem 2rem;
        color: white;
        font-size: 2rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
  }
  p {
    font-size: 1.4rem;
    a {
      color: var(--hint);
    }
  }
}
