:root {
  // font-family

  --font: "Mulish", sans-serif;

  //color

  --light: #cdf7f6;
  --primary: #8fb8de;
  --dark: #9a94bc;
  --text: #333;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd;
}
